<footer class="footer">
  <small>
    The <span class="span"><%= link_to "PetCenter voluntary work", home_path %></span>
    by USP students
  </small>
  <nav>
    <ul>
      <li><a href="https://www.icmc.usp.br/">About Us</a></li>
      <li><a href="https://github.com/gumastro">Contacts</a></li>
      <li><a href="https://veja.abril.com.br/noticias-sobre/animais/">News</a></li>
    </ul>
  </nav>
</footer>
